body{
	background-color: #fdfdfd;
	background-image: url(../img/bg.jpg);
	width: 100%;
	height: 100%
}

#title{
	line-height: 49px;
	color: #333;
	font-size: 18px;
	font-family: 'Microsoft YaHei';
}

.container{
	padding-top: 49px;
}

.blank{
	width: 100%;
	height: 49px;
}

.circle-inner{
	width: 45px;
	height: 45px;
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
}

.circle{
	width: 45px;
	height: 45px;
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
	margin: 24px auto;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0 0 0 1px #000;
}

.circle .page{
	text-align: center;
	color: #000;
	font-size: 12px;
	line-height: 45px;
	font-family: 'Microsoft YaHei'
}

.selector .pic{
	display: block;
	margin: 0 auto 24px auto;
	width: 80%;
	max-width: 500px;
	height: auto;
}
