body{
	background-color: #fbfbfb;
	background-image: url(../img/bg.jpg);
	width: 100%;
	height: 100%
}

#header h1 a{
	line-height: 49px;
	color: #333;
	font-size: 18px;
	font-family: 'Microsoft YaHei';
}

.container{
	padding-top: 49px;
}

.blank{
	width: 100%;
	height: 49px;
}

.circle{
	border: 1px solid #000;
	border-radius: 50%;
	margin: 0 auto;
	background-color: #fff;
}

.circle .page{
	text-align: center;
	color: #000;
	font-family: 'Microsoft YaHei';
	margin:0;
	padding: 0;
}

.selector .pic{
	display: block;
	margin: 0 auto;
}
